body {
    background-image: url("../images/2.jpg");
    opacity: 60;
}
h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 div {
   color: white;
   opacity: 60;
   
  
 
 } 

 form {
   color: ghostwhite;
   background-color: rgba(218, 165, 32, 0.479);

 }